.select-brand .nice-select {
    min-width: 150px;
}

.customer-detail {
    cursor: pointer;
}

.customer-detail a > div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 5px;
}

.header-customer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.select-customize .col-6 {*/
/*    margin-bottom: 20px;*/
/*}*/

.select-customize .col-6 .nice-select {
    width: 100% !important;
}

.select-customize .col-6 .nice-select ul {
    width: 100% !important;
}

.customer-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-avatar .customer-avatar-item {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
}

.customer-avatar .customer-avatar-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-img {
    border: none !important;
    padding: 0 !important;
}

.upload-img::-webkit-file-upload-button {
    visibility: hidden;
}

.upload-img::before {
    content: 'Select avatar';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.upload-img:hover::before {
    border-color: black;
}

.upload-img:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.address-dropdown {
    width: 100% !important;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
}

.btn-customize {
    background: #40A944;
    border: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 34px;
    line-height: 26px;
    padding: 5px 20px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 20px;
}

.btn-customize:hover {
    background: #343a40;
}

.address-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-title .label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.address-title .edit-address-btn {
    cursor: pointer;
}

.address-title .edit-address-btn:hover {
    color: #40A944;
}

.edit-address-detail {
    display: none;
    height: 0;
    overflow: hidden;
    transition: .2s ease-in;
}

.edit-address-active {
    display: block;
    height: auto;
    overflow: unset;
}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-form {
    width: 70%;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 10px;
}

.logout-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-logout-true {
    background: #40A944 !important;
    border: 0;
    color: #ffffff !important;
    height: 34px;
    line-height: 26px;
    padding: 5px 20px;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 20px;
}

.search-result {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 2;
    width: calc(100% - 60px);
    border-bottom-right-radius: 10px;
    border: 1px solid #f5f5f5;
    border-bottom-left-radius: 10px;
    overflow: auto;
}

.search-result #result li {
    padding: 10px;
    cursor: pointer;
}

.search-result #result li:hover {
    background-color: #f5f5f5;
}

.search-result-active {
    display: block;
}

.range-item {
    display: flex;
    align-items: center;
}

.range-item .range-price-item {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

#range-from, #range-to {
    width: 20%;
    text-align: center;
}

.form button {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: capitalize;
    color: #ffffff;
    background: #222222;
    border: 0;
    border-radius: 30px;
    float: left;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form input {
    background: none;
    border: none;
    font-size: 12px;
    float: right;
    text-align: right;
    line-height: 31px;
    width: 60px;
}

.pagination-is-clicked {
    background-color: #40A944;
    color: white;
}

.search_container .form-search {
    display: flex;
    border-radius: 30px;
    border: 1px solid #ededed;
    background: #fff;
    width: 540px;
}
